NODE_ENV=development
PORT=3000
SERVICE_URL=app.polkapad.codes

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=polkapad_db
# nest run in docker container
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresprisma:5432/${POSTGRES_DB}?schema=public&sslmode=prefer
# nest run locally
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

JWT_SECRET=db1e3a04e028eeec1b0c4af5f53fccb8

KYC_REDIRECT_URL=https://yourdomain.com/site/sp-redirect
KYC_CLIENT_ID=2d10fb59c246949c72f39e0bce6e6892c7d84c0fbe8182f722e21319d514f4ea
KYC_SECRET_KEY=KymJQ6AIwKXqt7jiMtT4NoR6Ih5Drgrl

POSTMARK_TOKEN=e30ca405-d34c-49e2-b9fa-aec0c80e1f71
